body{
  background-image: url(./clock-pic-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

  display:flex;
  justify-content: center;
  min-height: 100vh;
  align-items: top;
  margin-top: 35px;
}
.clock-containter{
width: 80vw;
}
.clock{
color: rgb(215, 101, 24);
font-size: 5rem;
font-weight: bold;
font-family: monospace;
text-align: center;
}
